@{
    ViewData["Title"] = "Cerificate";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Race /</span> in pdf..</h4>
        <div class="row mb-5">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <form action="@Url.Action("Index", "Admin")" method="get">
                    <button type="submit"  class="btn btn-dark" style="float:right;">Return to List</button>
                </form>
            </div>
        </div>

        <div class="row mb-5">
            
        </div>

    </div>
</div>
