@{
    ViewData["Title"] = "Login";
}
    <div class="container">
          <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
      <div class="row justify-content-center">
        <div class="col-md-5" style="margin-top:200px;">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
                @if (ViewData["error"] != null)
                {
                  <div class="alert alert-danger" role="alert">@ViewData["error"]</div>
                }
              <h4 class="mb-2">Welcome to ULTIMATE TEAM RACE! 👋</h4>

              <form class="mb-3" action="@Url.Action("checkLog", "Home")" method="POST">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                    required
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                      required
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>
          </div>
    </div>